body {
  background-color: #fcc600;
  font-family: 'Contrail One', cursive;
  margin: 20px;
}

.button {
  background-color: #ffffff;
  color: #fcc600;
  border: 1px solid #fcc600;
  border-radius: 4px;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
}

.button:hover {
  background-color: #fcc600;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

header h1 {
  color: #fcc600;
}

nav ul {
  margin-left: 20px;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.video-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.video-container {
  flex: 1;
  width: 100%;
  max-width: calc(100% - 20px);
  margin-bottom: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h1, h2, p {
  margin: 10px 0;
  color: #333;
}

iframe {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .video-container {
    max-width: calc(32% - 20px);
  }
}

@media screen and (max-aspect-ratio: 16/9) {
  .video-row {
    flex-direction: column;
  }
  .video-container {
    width: 93.5%;
    max-width: 93.5%;
  }
}
